body {
  background-color: peru;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: steelblue;
  color: gray;
}

/* article {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
} */

/* .section-1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
} */

section {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* width: 200px; */
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.card {
  margin: 10px;
  border: 1px solid silver;
  padding: 10px;
}

.card img {
  height: 400px;
}

.card h2 {
  text-align: center;
  background-color: powderblue;
}
